# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build & Packages
*.apk
*.aab
*.zip
*.jks
node_modules/

# Android build outputs
android/.gradle/
android/app/build/
android/build/
android/local.properties

# Logs
*.log
